#facebox_overlay
{
position: fixed;
top:0;
bottom:0;
left:0;
right:0;
width:100%;
height:100%;
background-color: #fff;
z-index: 3024;  
}
#loaderImage
{
position: fixed;
z-index: 3024;
top:45%;
left: 45%;    
}
.rounded_bottom
{
-webkit-border-bottom-right-radius: 13px;
-webkit-border-bottom-left-radius: 13px;
-moz-border-radius-bottomright: 13px;
-moz-border-radius-bottomleft: 13px;
border-bottom-right-radius: 13px;
border-bottom-left-radius: 13px;  
background-color: #ccc; 
}
.rounded_top
{
-webkit-border-top-left-radius: 13px;
-webkit-border-top-right-radius: 13px;
-moz-border-radius-topleft: 13px;
-moz-border-radius-topright: 13px;
border-top-left-radius: 13px;
border-top-right-radius: 13px;
background-color: #ccc;
}
.rounded_right
{
-webkit-border-bottom-right-radius: 13px;
-moz-border-radius-bottomright: 13px;
border-bottom-right-radius: 13px;    
}
.rounded_all
{
background-color: #5d5d5d;    
-webkit-border-top-left-radius: 13px;
-webkit-border-top-right-radius: 13px;
-moz-border-radius-topleft: 13px;
-moz-border-radius-topright: 13px;
border-top-left-radius: 13px;
border-top-right-radius: 13px;    
-webkit-border-bottom-right-radius: 13px;
-webkit-border-bottom-left-radius: 13px;
-moz-border-radius-bottomright: 13px;
-moz-border-radius-bottomleft: 13px;
border-bottom-right-radius: 13px;
border-bottom-left-radius: 13px;    
}
#face_box
{
background-color: #f0f0f0;
height:300px !important;
max-height:300px !important;
overflow-y: auto !important;
}
#chat_input
{

}
#face_inner_btn_box
{
background-color: #333;
padding-top: 13px;
height: 60px;
}
#face_btn_box
{
height: 60px;
}
#msg_list
{
   
font-size: 12px !important;
list-style:none; 
text-align: right;
}
#msg_list li
{
height: 60px;
margin: 0 !important;
padding-top: 18px;
}
#msg_list li .badge
{
float: left;
}
.profile_picture
{
width: 40px;
height: 40px;    
}         

